<li>  
<div class="user-img">
    <%= link_to user_path(user), class: "img-responsive" do %>
      <%= image_tag("http://placehold.it/50x50") %>
    <% end %>
  </div>
  <div class="user-info"> 
    
    <%= link_to user.name, user_path(user), class: "full_name" %>
    <% if user.bio %> 
      <div class="user-bio">
        <%= user.bio %>
      </div>
    <% end %>
    <div class="user-options">
      <%= link_to "Message", "#", class: "msg-link" %> | <%= link_to "Profile", user_path(user), class: "profile_link" %>
    </div>
  </div>
</li>
